<%- include('./partials/header') %>
<form action="/cohorts" class="form-inline" id="search">
    <div id="bar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
</form>
<h1>Error [Cohort No Cohort]: Cohort Not Found</h1>
<%- include('./partials/footer') %>